{% if torneo.status == 'SETUP' %}
<div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-bold text-gray-800">Squadre Partecipanti</h2>
    <span class="text-sm text-gray-600">{{ torneo.teams_count }} squadre</span>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for team in torneo.teams.all %}
    <div class="w-full flex flex-row items-center gap-2 border border-gray-200 rounded-lg p-4">
        <div class="flex-grow flex flex-col truncate whitespace-nowrap overflow-hidden text-ellipsis">
            <div class="font-semibold text-gray-800">{{ team.name }}</div>
            <div class="text-sm text-gray-500">{{ team.player1.name }} - {{ team.player2.name }}</div>
        </div>
        {% if team.group %}
        {% if team.group == 'A' %}
            <div class="flex-shrink-0 whitespace-nowrap inline-flex items-center px-2 py-1 rounded-full text-xs font-medium bg-blue-100 text-blue-800">Girone {{ team.group }}</div>
        {% else %}
            <div class="flex-shrink-0 whitespace-nowrap inline-flex items-center px-2 py-1 rounded-full text-xs font-medium bg-green-100 text-green-800">Girone {{ team.group }}</div>
        {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>

{% elif torneo.status == 'GROUP_STAGE' %}
<div class="flex justify-between items-center mx-4 mb-4">
    <h2 class="text-xl font-bold text-gray-800">Classifiche Gironi</h2>
    <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 size-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path d="m9 7-5 5 5 5"/><path d="m15 7 5 5-5 5"/>
    </svg>
</div>

<!-- Container with overflow-hidden -->
<div class="flex-1 flex flex-col">
    <div class="flex-1 flex flex-row overflow-hidden">
        <!-- Horizontally scrollable container -->
        <div class="w-fit overflow-x-auto scrollbar-hide flex flex-row pr-4">
            <!-- Group A Standings -->
            <div class="flex-shrink-0 w-full bg-white border border-gray-200 rounded-lg p-4" style="width: calc(100% - 20px); margin-left: 20px; margin-right: 10px;">
                <h3 class="text-lg font-bold text-gray-800 mb-4">Girone A</h3>
                <div class="w-full flex flex-row items-center justify-end rounded-lg px-4 pb-1 gap-2">
                    <div class="text-sm text-gray-700 w-6 text-right flex-shrink-0">DP</div>
                    <div class="text-sm text-gray-700 w-6 text-right flex-shrink-0">PG</div>
                    <div class="text-sm font-bold text-gray-700 w-6 text-right flex-shrink-0">PT</div>
                </div>
                <div class="flex-1 grid grid-cols-1 gap-4">
                    {% for team in torneo.teams.all|dictsort:"group_points"|dictsortreversed:"group_points" %}
                    {% if team.group == 'A' %}
                        <div class="w-full flex flex-row items-center gap-2 border border-gray-200 rounded-lg p-4">
                            <div class="flex-grow flex flex-col truncate whitespace-nowrap overflow-hidden text-ellipsis">
                                <div class="font-semibold text-gray-800">{{ team.name }}</div>
                                <div class="text-sm text-gray-500">{{ team.player1.name }} - {{ team.player2.name }}</div>
                            </div>
                            <div class="text-sm text-gray-700 w-6 text-right flex-shrink-0">{{ team.goal_difference }}</div>
                            <div class="text-sm text-gray-700 w-6 text-right flex-shrink-0">{{ team.games_played }}</div>
                            <div class="text-sm font-bold text-gray-700 w-6 text-right flex-shrink-0">{{ team.group_points }}</div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <!-- Group B Standings -->
            <div class="flex-shrink-0 w-full bg-white border border-gray-200 rounded-lg p-4" style="width: calc(100% - 20px);">
                <h3 class="text-lg font-bold text-gray-800 mb-4">Girone B</h3>
                <div class="w-full flex flex-row items-center justify-end rounded-lg px-4 pb-1 gap-2">
                    <div class="text-sm text-gray-700 w-6 text-right flex-shrink-0">PG</div>
                    <div class="text-sm text-gray-700 w-6 text-right flex-shrink-0">DP</div>
                    <div class="text-sm font-bold text-gray-700 w-6 text-right flex-shrink-0">PT</div>
                </div>
                <div class="flex-1 grid grid-cols-1 gap-4">
                    {% for team in torneo.teams.all|dictsort:"group_points"|dictsortreversed:"group_points" %}
                    {% if team.group == 'B' %}
                        <div class="w-full flex flex-row items-center gap-2 border border-gray-200 rounded-lg p-4">
                            <div class="flex-grow flex flex-col truncate whitespace-nowrap overflow-hidden text-ellipsis">
                                <div class="font-semibold text-gray-800">{{ team.name }}</div>
                                <div class="text-sm text-gray-500">{{ team.player1.name }} - {{ team.player2.name }}</div>
                            </div>
                            <div class="text-sm text-gray-700 w-6 text-right flex-shrink-0">{{ team.games_played }}</div>
                            <div class="text-sm text-gray-700 w-6 text-right flex-shrink-0">{{ team.goal_difference }}</div>
                            <div class="text-sm font-bold text-gray-700 w-6 text-right flex-shrink-0">{{ team.group_points }}</div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}