<div id="main-torneo" class="flex-1 flex flex-col overflow-y-auto relative p-4 gap-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
        {% for team in torneo.final_rankings %}
            <div class="p-4 bg-white border rounded-lg shadow text-center">
                <div class="text-3xl font-bold mb-2">
                    {% if forloop.counter == 1 %}
                        🥇
                    {% elif forloop.counter == 2 %}
                        🥈
                    {% elif forloop.counter == 3 %}
                        🥉
                    {% else %}
                        {{ forloop.counter }}°
                    {% endif %}
                </div>
                {% if team %}
                    <div class="text-lg font-semibold text-gray-800">{{ team.name }}</div>
                    <div class="text-sm text-gray-500">{{ team.player1.name }} & {{ team.player2.name }}</div>
                {% else %}
                    <div class="text-gray-400 italic text-sm">In attesa di risultato</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <!-- Home -->
    <button
        hx-get="{% url 'home_torneo' torneo.id %}" 
        hx-push-url="{% url 'home_torneo' torneo.id %}"
        hx-target="#main-content" 
        hx-trigger="click"
        hx-indicator="#main-spinner"
        class="flex-shrink-0 w-full bg-gray-300 text-white h-10 px-4 rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 transition duration-300">
        Torna alla home
    </button>
</div>